/* General */
@font-face {
    font-family: "PoliceIUT";
    src: url('font/font.ttf');
}

@font-face {
    font-family: "PoliceIUT2";
    src: url('font/font2.otf');
}

.row {
    padding: 3%;
}

.col-lg-12,
.col-md-6 {
    margin: 0 auto
}

h1 {
    margin: 0 auto;
    /*color: #343a40;*/
}

h2,
h3 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "PoliceIUT";
}

body {
    background-color: #343a40;
    font-family: "PoliceIUT2";
}

.bt {
    border-bottom: 0.5px rgba(255, 255, 255, 0.3) solid;
}



/*Fin general*/

@media (max-width:992px) {
    .reseau a {
        display: block
    }

    .reseau img {
        max-width: 30%;
        max-height: 30%;
        margin: 10%
    }

    .lien a {
        display: block;
        margin: 5%
    }
    .dropdown-toggle:focus {
        outline: none;
    }
    .ua img {
        width: 20%;
        height: auto;
    }
    .mbt {
        margin-bottom: 5%;
    }
}

@media (min-width:992px) {
    .reseau img {
        max-width: 20%;
        max-height: 20%
    }

    .lien a {
        margin: 20px
    }

    .lien {
        padding: 2%
    }
    .ua img {
        width: 10%;
        height: auto;
    }
    .nav-item:hover .dropdown-menu {
        display: block;
    }
}

.container-fluid {
    background-color: lightgray;
}

/* Navbar*/

.dropdown-item {
    white-space: normal;
    color: rgba(255, 255, 255, .5);
    font-size: 22px
}

.dropdown-item:hover {
    color: #fff
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    border: solid rgba(255, 255, 255, .2) 1px;
    text-align: center;
    min-width: 100%
}

.nav-link {
    font-size: 20px
}

.img-responsive {
    width: 3em;
    height: 3em
}

/* Carte */

.cardsize {
    min-height: 100%;
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover
}

.card-footer a:hover {
    text-decoration: none;
    color: white;
}

/* footer */

footer {
    margin-bottom: 0;
    padding: 5%;
    width: auto
}

footer a {
    color: #fff
}


iframe /*map google*/ {
    width: 100%;
    height: 100%
}


.lien a /*Annuaire...*/{
    color: #fff
}

.lien /*Annuaire...*/{
    text-align: center;
    width: 100%
}

.reseau {
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    width: auto;
    height: auto;
    text-align: center
}

.end {
    color: #fff;
    text-align: center;
    padding: 2%
}


/* Fin footer */

















/* Couleur*/

.dt-violet::after {
    color: #a24392
}

.dt-vert::after {
    color: #d7db31
}

.dt-orange::after {
    color: #f58f0a
}

.dt-rose::after {
    color: #ff0dcc
}

.dt-turquoise::after {
    color: #00aca4
}

.turquoise {
    color: rgba(000, 172, 164, .6)
}

.vert {
    color: rgba(215, 219, 49, .6)
}

.orange {
    color: rgba(245, 143, 10, .6)
}

.rose {
    color: rgba(255, 13, 204, .6)
}

.violet {
    color: #a24392
}

.blanc {
    color: lightgray;
}

.ft-turquoise {
    background-color: rgba(000, 172, 164, .6)
}

.ft-vert {
    background-color: rgba(215, 219, 49, .6)
}

.ft-orange {
    background-color: rgba(245, 143, 10, .6)
}

.ft-violet {
    background-color: rgba(162, 67, 146, .6)
}

.ft-rose {
    background-color: rgba(255, 13, 204, .6)
}

.brd-turquoise {
    border: solid rgba(000, 172, 164, .6) 3px
}

.brd-vert {
    border: solid rgba(215, 219, 49, .6) 3px
}

.brd-orange {
    border: solid rgba(245, 143, 10, .6) 3px
}

.brd-rose {
    border: solid rgba(255, 13, 204, .6) 3px
}

.brd-violet {
    border: solid rgba(162, 67, 146, .6) 3px
}

.hpurp .dropdown-item:hover {
    background-color: rgba(162, 067, 146, .6)
}

.hgreen .dropdown-item:hover {
    background-color: rgba(215, 219, 49, .6)
}

.horange .dropdown-item:hover {
    background-color: rgba(245, 143, 10, .6)
}

.hpink .dropdown-item:hover {
    background-color: rgba(255, 13, 204, .6)
}

.hturq .dropdown-item:hover {
    background-color: rgba(000, 172, 164, .6)
}